:root {
    --ipafont: "Charis SIL", "Doulos SIL", "FreeSerif", "Times New Roman", serif;
    --codefont:
        /*"Iosevka",*/
        "Noto Mono", "Noto Sans Mono", "DejaVu Sans Mono", "Menlo", "Consolas", "FreeMono", "Courier New", monospace;
}

.ipa {
    font-family: var(--ipafont);
}

.code,
code,
pre,
samp,
kbd {
    font-family: var(--codefont);
    white-space: pre;
}

body {
    margin-left: auto;
    margin-right: auto;
    margin-top: 12.5%;
    width: 80%;
    font-size: 200%;
    text-align: center;
}

textarea {
    resize: vertical;
    min-height: 1em;
    max-height: 8em;
}